.custom-modal-container {
    max-width: 90vw;
    width: 90vw;
    height: 90vh;
}

.custom-modal-content {
    height: 75vh;
    padding: 0;
    overflow: hidden;
}

.custom-modal-header {
    background-color: #f3f6f9;
    border-bottom: 1px solid #d8dde6;
}

iframe {
    border: none;
}